# Virtual environment
.env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Local databases (si un jour tu en ajoutes)
*.sqlite3

# Build
build/
dist/
*.egg-info/

# Environment variables
.env.local
.env.production

# Locust
locust.log